# File Collection Template
# For Training Use – Non-functional Template

use post/multi/gather/find_files
set SESSION <SESSION_ID>
set PATTERN *.txt
set PATH /home
run

use post/windows/gather/enum_files
set SESSION <SESSION_ID>
set FILE_GLOBS *.doc,*.docx,*.pdf,*.xls,*.xlsx
run